<h1>West Side Stories</h1>

<h2>Gentrification in West Oakland</h2>

<p>We tend to talk about gentrification as one story: newcomers
displace long-time residents, erasing history and disrupting
culture in the process. But living through dramatic
neighborhood change always brings up many stories. Those
stories--from West Oakland's people and places--are what this
interactive is all about.</p>

<p>There's a lot to disagree about, when it comes to
gentrification. But one thing seems beyond debate. If you're
new to a place, it's good to know a thing or two about its
history. So West Oakland's proud past is one of the most
important stories you'll learn about in West Side
Stories.</p>

<img class="scroll" src="/images/mouse_grey.png">

<h3>scroll</h3>

