<h3>{{ name }}</h3>

{{#if children}}
    <img src="{{ children.photos.data.[0].path_large }}" />
{{/if}}

<p>{{ description }}</p>

{{#if extras.source }}
    <p>
        <small>
            <a href="{{ extras.source }}" target="_blank">Source</a>
        </small>
    </p>
{{/if}}

{{#if extras.video }}
    <div class="videoWrapper">
        <iframe width="560" height="315" src="{{ extras.video }}" frameborder="0" allowfullscreen=""></iframe>
    </div>
{{/if}}

{{#each children.audio.data}}
    <hr>
    <p>{{this.description}}</p>
    <audio id="audio-player" src="{{this.file_path}}" controls="controls"></audio>
{{/each}}

