<section class='cover active' id='cover'>
    <h1>West Side Stories</h1>

    <h2>Gentrification in West Oakland</h2>

    <p>We tend to talk about gentrification as one story: newcomers
    displace long-time residents, erasing history and disrupting
    culture in the process. But living through dramatic
    neighborhood change always brings up many stories. Those
    stories--from West Oakland's people and places--are what this
    interactive is all about.</p>

    <p>There's a lot to disagree about, when it comes to
    gentrification. But one thing seems beyond debate. If you're
    new to a place, it's good to know a thing or two about its
    history. So West Oakland's proud past is one of the most
    important stories you'll learn about in West Side
    Stories.</p>

    <img class="scroll" src="/images/mouse_grey.png">

    <h3>scroll</h3>

</section>

<!-- This is where all the stories go -->
<div class="data-container"></div>

<section id='about' class="active">
    <h3>The Team</h3><img class="feature-img" src=
    "/images/about.png">

    <p>West Side Stories is a project of <a href=
    "https://youthradio.org/yri/">Youth Radio
    <em>Interactive</em></a>, a production company in downtown
    Oakland where young people collaborate with professional
    developers to create dynamic stories like this one.</p>

    <h4>The Youth Team</h4>

    <div class="row">
        <div class=" medium-4 columns">
            <img class="round" src="/images/team/senay.jpg">

            <p>Senay Alkebulan</p>
        </div>

        <div class="medium-4 columns">
            <img class="round" src="/images/team/maya.jpg">

            <p>Maya Escobar</p>
        </div>

        <div class="medium-4 columns">
            <img class="round" src="/images/team/Isabela-1-3.jpg">

            <p>Isabella Ordaz</p>
        </div>
    </div>

    <div class="row">
        <div class=" medium-4 columns">
            <img class="round" src="/images/team/donta.jpg">

            <p>Donta Jackson</p>
        </div>

        <div class="medium-4 columns">
            <img class="round" src="/images/team/storm.jpg">

            <p>Storm White</p>
        </div>

        <div class="medium-4 columns">
            <img class="round" src="/images/team/eli.jpg">

            <p>Eli Arbreton</p>
        </div>
    </div>

    <div class="row">
        <div class=" medium-12 columns text-center">
            <img class="round" src="/images/team/joi.jpg">

            <p>Joi Smith</p>
        </div>
    </div>

    <h4>The Staff</h4>

    <div class="row">
        <div class=" medium-4 columns">
            <img class="round" src="/images/team/asha.jpg">

            <p>Asha Richardson<br>
            <small>Project Manager</small></p>
        </div>

        <div class="medium-4 columns">
            <img class="round" src="/images/team/lob.jpg">

            <p>Lo Benichou<br>
            <small>Interactive News Developer</small></p>
        </div>

        <div class="medium-4 columns">
            <img class="round" src="/images/team/teresa.jpg">

            <p>Teresa Chin<br>
            <small>Producer and Designer</small></p>
        </div>
    </div>

    <div class="row">
        <div class=" medium-4 columns text-center">
            <img class="round" src="/images/team/lissa.jpg">

            <p>Lissa Soep<br>
            <small>Senior Editor</small></p>
        </div>

        <div class=" medium-4 columns text-center">
            <img class="round" src="/images/team/cliff.jpg">

            <p>Clifford Lee<br>
            <small>Scholar-in-Residence</small></p>
        </div>

        <div class=" medium-4 columns text-center">
            <img class="round" src="/images/team/ike.jpg">

            <p>Ike Sriskandarajah<br>
            <small>Science Producer</small></p>
        </div>
    </div>

    <div class="row">
        <div class=" small-12 columns text-center">
            <p><small>This interactive was inspired by and adapted from <em>Young
            Hahn's</em><a href=
            "http://alistapart.com/article/hack-your-maps"> Shelock
            Holmes map.</a></small></p>
        </div>
    </div>
</section>