<div class="fullscreen background not-overflow" id="splash">
    <div class="content-a">
        <div class="content-b">
            <span class="sub target fadeEl">Youth Radio</span>
            <img id="logo" src="/images/logo.png">
            <h1 class="target fadeEl">West Side Stories</h1>
            <h2 class="target fadeEl">Gentrification in West Oakland</h2>
            <div class="content-c target fadeEl">
                <a class="button secondary cust-button" href="#/detail/cover">Enter</a>
            </div>
        </div>
    </div>
</div>